$mobile-max: 767px;
$tablet: 768px;
$tablet-max: 991px;
$desktop: 992px;

.tablet{
    display: flexbox;
}
img{
    max-width: 100%;
    height: auto;
}


#boite_1,#boite_2,#boite_3{

  border: 1px solid black;

  padding-top: 50%;
  padding-bottom: 50%;
  height: 500px;
  width: 500px;


}
@media (min-width: $tablet) AND (max-width: $tablet-max){

    .tablet{
        display: box;
    }

  }
.p,.h1{
  text-align: center;
  margin-top: 50%;
}
#loupe{

  position:absolute;

  right:5px;

  top:90px;

  display:inline-block;

  background:#eee;

  border:1px solid #DD4B39;

  font-size:4em;

  font-weight:700;

  padding:10px;

}
#boite_4{
  padding: 1500px;

}
#toggle3{
  position: relative;
}




